<div id="main-footer">
    <section id="section">
        Explore a world of premium beauty products carefully curated for you. At [Your Brand Name],
        we're committed to delivering high-quality skincare,
        cosmetics, and wellness products to enhance your natural beauty. Our diverse range includes:
    </section>

    <footer>
        <ul class="navCat">
            <li class="topLevel">About</li>
            <li>About Us</li>
            <li>Our Story</li>
            <li>FQA</li>
        </ul>


        <ul class="navCat">
            <li class="topLevel">Services</li>
            <li>Customer Order</li>
            <li>Wholesale</li>

        </ul>

        <ul class="navCat">
            <li class="topLevel">Contact</li>
            <li>Customer Services</li>
            <li>FQA</li>
        </ul>

        <ul class="navCat">
            <li class="topLevel">Product</li>
            <li>Skincare</li>
            <li>Radiant Makeup</li>
            <li>Wellness & Self-Care</li>
            <li>Exclusive Collections</li>
        </ul>
        <ul class="navCat">
            <li class="topLevel">Social Media</li>
            <li> Facebook &nbsp;<a href="https://www.facebook.com/rajiasyal"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li> Instagram &nbsp;<a href="https://www.instagram.com/reddyr.c"> <i class="fa-brands fa-square-instagram"></i></a></li>
            <li> Linkedin &nbsp;<a href="#"> <i class="fa-brands fa-linkedin"></i></a></li>
            <li>Twitter &nbsp; <a href="#"> <i class="fa-brands fa-square-twitter"></i></a></li>

        </ul>
    </footer>
</div>