<div id="main-nav">
 
  <nav>
    <ul class="navBar">
     
      <li><a href="/home"><i class="fa-solid fa-house"></i></a>&nbsp;<a href="/home">HOME</a></li>
      <li><a href="/home/lipsticks">LIPS</a></li>
      <li><a href="/home/face">FACE</a></li>
      <li> <a href="/home/eye">EYES</a></li>
      <li><a href="/home/nails">NAILS</a></li>
      <li> <a href="/home/brushes">BRUSHES</a></li>
      <li><a href="/home/skin">SKIN</a></li>

    </ul>
  
</div>