
<% layout("layouts/boilerplate.ejs") %>
<body>
   
      <div class="body-container">
        <h1>Famous Beauty Products</h1>
        <li><a href="/home/lipsticks">lipsticks</a></li>
        <li><a href="/home/face">Face makeup</a></li>
        <li><a href="/home/nailpaint">nail paint</a></li>
        <li><a href="/home/face">primer</a></li>
        <li><a href="/home/eye">eye makeup</a></li>
      
    
    <% for(let list of allList) {%>
        <img src="<%=list.img %>" alt="homepage" class="img">
        <% } %>
    </div>
</body>
